<template lang="pug">
  #eventCreateView.app-view
    .view-container
      EventHeader(
        isCreate
        :backButtonRoute="$route.query.route_from"
      )
      input.first(placeholder="Game location")
      input(type="date" placeholder="Pick a date")
      input(type="time" placeholder="Pick an hour")
      textarea(placeholder="Event's description")
    BottomButton(
      title="Create"
    )
</template>

<script>
import { EventHeader, BottomButton } from '@/components'

export default {
  components: {
    EventHeader,
    BottomButton
  }
}
</script>
