<template lang="pug">
  #eventShowView.app-view
    .view-container
      EventHeader(
        backButtonRoute="discover"
      )
      .info
        .cell
          .icon
            IconPin
          .content Basketball Poznan Area
        .double
          .cell
            .icon
              IconCalendar
            .content 19.01, Saturday
          .cell
            .icon
              IconTime
            .content 16:30
        .description The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"
    BottomButton(
      title="RSVP"
    )
</template>

<script>
import { BottomButton, EventHeader } from '@/components'
import IconPin from '@/assets/icons/icon-pin.svg'
import IconCalendar from '@/assets/icons/icon-calendar.svg'
import IconTime from '@/assets/icons/icon-time.svg'

export default {
  components: {
    BottomButton,
    EventHeader,
    IconPin,
    IconCalendar,
    IconTime
  }
}
</script>

<style lang="stylus" scoped>
@import '~@/assets/styles/common'

#eventShowView
  .info
    .double
      display flex

      .cell:nth-of-type(1)
        border-right 1px $color-grey-light solid

    .cell
      height 1rem
      width 100%
      border-bottom 1px $color-grey-light solid
      padding 1rem
      display flex

      .icon
        margin 0 1rem

      .content
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

    .description
      padding 1rem
      line-height 1.5rem
      letter-spacing 1px
</style>
