<template lang="pug">
  #registerView
    SimpleHeader(title="Register")
    .center-container
      .intro
        h2 Let's balln
      .sign-in-form
        form
          input.first(placeholder="john@doe.com" v-model="userForm.email")
          input(type="password" placeholder="********" v-model="userForm.password")
          a.fullwidth-button.submit(@click="submit") Sign up
        .links-section
          a Already have account?
</template>

<script>
import { SimpleHeader } from '@/components'

export default {
  data () {
    return {
      userForm: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    submit () {
      this.$store.dispatch('user/registerUser', this.userForm)
        .then(response => {
          if (response.type === 'user') {
            this.$router.push({ name: 'dashboard' })
          }
        })
    }
  },
  components: {
    SimpleHeader
  }
}
</script>

<style lang="stylus" scoped>
@import '~@/assets/styles/common'

#registerView
  .center-container
    display flex
    flex-direction column
    align-content center
    height 80vh

    .intro
      flex 1
      width 100%
      color $color-primary
      margin 0 1rem
      margin-top 10vh

    .sign-in-form
      width 100%
      flex 3

      .submit
        margin-top 2rem

      .links-section
        margin-top 2rem
        padding 0 1rem
</style>
