<template lang="pug">
  #signInView
    SimpleHeader(title="Balln")
    .center-container
      .intro
        h2 Hi, please sign in first
        h2 or Register
      .sign-in-form
        form
          input.first(placeholder="john@doe.com" v-model="loginForm.email")
          input(type="password" placeholder="********" v-model="loginForm.password")
          a.fullwidth-button.submit(@click="submit") Sign in
        .links-section
          a Forgotten password?
</template>

<script>
import { SimpleHeader } from '@/components'

export default {
  data () {
    return {
      loginForm: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    submit () {
      this.$store.dispatch('user/loginUser', this.loginForm)
        .then(response => {
          if (response.jwt) {
            this.$router.push({ name: 'dashboard' })
          }
        })
    }
  },
  components: {
    SimpleHeader
  }
}
</script>

<style lang="stylus" scoped>
@import '~@/assets/styles/common'

#signInView
  .center-container
    display flex
    flex-direction column
    // align-items center
    align-content center
    height 80vh

    .intro
      flex 1
      width 100%
      color $color-primary
      margin 0 1rem
      margin-top 10vh

    .sign-in-form
      width 100%
      flex 3

      .submit
        margin-top 2rem

      .links-section
        margin-top 2rem
        padding 0 1rem
</style>
