<template lang="pug">
  #dashboardView.app-view
    .view-container
      SimpleHeader(title="Balln")
      .dashboard-section
        .title Events this week
        .content
          DashboardEventTile(
            v-for="el in [1, 2, 3, 4]"
            title="Saturday Balln"
            imageUrl="https://cdn.stocksnap.io/img-thumbs/960w/WFMM0O6D9V.jpg"
          )
      .dashboard-section
        .title Recently played with
        .content
          DashboardPersonTile(
            v-for="el in [1, 2, 3, 4]"
            imageUrl="https://cdn.stocksnap.io/img-thumbs/960w/WFMM0O6D9V.jpg"
          )
    Navigation
</template>

<script>
import { SimpleHeader, DashboardEventTile, DashboardPersonTile } from '@/components'

export default {
  components: {
    SimpleHeader,
    DashboardEventTile,
    DashboardPersonTile
  }
}
</script>

<style lang="stylus" scoped>
.dashboard-section
  width 100%
  margin-top 3rem

  .title
    padding 0 1rem
    font-size 1.5rem

  .content
    display flex
    width calc(100% + 5rem)
    overflow-x scroll
    overflow-y hidden
    white-space nowrap
    width 100%
    flex-direction row
    -webkit-overflow-scrolling touch
</style>
