<template lang="pug">
  #discoverView.app-view
    .view-container
      SimpleHeader(title="Discover")
      .event-tiles
        DiscoverEventTile(
          v-for="event in events"
          :time="event.data.attributes.match_date"
          :name="event.data.attributes.name"
          :address="event.data.attributes.address"
          :attendees="7"
        )
    Navigation
</template>

<script>
import { SimpleHeader, Navigation, DiscoverEventTile } from '@/components'
import { mapState } from 'vuex'

export default {
  components: {
    SimpleHeader,
    Navigation,
    DiscoverEventTile
  },
  mounted () {
    this.$store.dispatch('discoverView/fetchEvents')
  },
  computed: mapState('discoverView', ['events'])
}
</script>

<style lang="stylus" scoped>
.event-tiles
  padding 0 1rem
</style>
