<template lang="pug">
  #pastGamesView.app-view
    .view-container
      SimpleHeader(title="Past Games")
      .game-tiles
        GameTile(v-for="el in [1,2,3,4]")
    Navigation
</template>

<script>
import { SimpleHeader, Navigation, GameTile } from '@/components'

export default {
  components: {
    SimpleHeader,
    Navigation,
    GameTile
  }
}
</script>

<style lang="stylus" scoped>
.game-tiles
  padding 1rem 0
</style>
