<template lang="pug">
  #profileAccountView.app-view
    .view-container
      SimpleHeader(title="Profile")
      ProfileTabs
      form.user-update-form
        .avatar(
          :style="{ backgroundImage: `url('https://cdn.stocksnap.io/img-thumbs/960w/4HUZBIELP3.jpg')` }"
        )
        .inputs
          input.first(placeholder="John Doe" v-model="userUpdateForm.displayName")
          input(placeholder="john@doe.com" v-model="userUpdateForm.email")
          input(type="password" placeholder="********" v-model="userUpdateForm.newPassword")
        a.fullwidth-button.submit Save
        .signout-button
          a Sign out
    Navigation
</template>

<script>
import { SimpleHeader, Navigation, ProfileTabs } from '@/components'

export default {
  data () {
    return {
      userUpdateForm: {
        displayName: '',
        email: '',
        newPassword: ''
      }
    }
  },
  components: {
    SimpleHeader,
    Navigation,
    ProfileTabs
  },
  mounted () {
    this.$store.dispatch('user/fetchUser')
      .then(response => {
        this.userUpdateForm = response.attributes
      })
  }
}
</script>

<style lang="stylus" scoped>
@import '~@/assets/styles/common'

#profileAccountView
  .user-update-form
    .avatar
      width 8rem
      height 8rem
      background-size cover
      background-position center center
      border-radius 50%
      margin 1rem auto
      box-shadow 0 0 16px 0 rgba(51,94,206,0.4)

    .inputs
      margin-top 3rem

    .submit
      margin-top 2rem

    .signout-button
      margin-top 2rem
      text-align center

      a
        color $color-red
        font-weight normal
        font-size 1.25rem
</style>
