<template lang="pug">
  #profileGamesView.app-view
    .view-container
      SimpleHeader(title="Your Games")
      ProfileTabs
      .game-tiles
        GameTile(v-for="el in [1,2,3,4]")
    Navigation
</template>

<script>
import { SimpleHeader, Navigation, ProfileTabs, GameTile } from '@/components'

export default {
  components: {
    SimpleHeader,
    Navigation,
    ProfileTabs,
    GameTile
  }
}
</script>
