<template lang="pug">
  #bottomButton
    .title {{ title }}
</template>

<script>
export default {
  props: {
    title: String
  }
}
</script>

<style lang="stylus" scoped>
#bottomButton
  width 100%
  flex 1
  background linear-gradient(230.45deg, #7471FE 0%, #42ACFD 100%)
  color #fff
  font-weight bold
  text-align center
  font-size 1.75rem
  border-top-right-radius 1rem
  border-top-left-radius 1rem

  .title
    margin-top 1rem
</style>
