<template lang="pug">
  .dashboard-person-tile(
    :style="{ background: `linear-gradient(226.14deg, #621189 0%, #0c5f72 100%), url('${imageUrl}') no-repeat center center` }"
  )
</template>

<script>
export default {
  props: {
    imageUrl: String
  }
}
</script>

<style lang="stylus" scoped>
.dashboard-person-tile
  width 5rem
  height 5rem
  border-radius 50%
  margin 1rem .5rem

  &:nth-of-type(1)
    margin-left 1rem
</style>
