<template lang="pug">
  .dashboard-event-tile(
    :style="{ background: `linear-gradient(226.14deg, #621189 0%, #0c5f72 100%), url('${imageUrl}') no-repeat center center` }"
  )
    .tile-content
      .title {{ title }}
</template>

<script>
export default {
  props: {
    title: String,
    imageUrl: String
  }
}
</script>

<style lang="stylus" scoped>
.dashboard-event-tile
  display block
  width 7rem
  height 8rem
  background #000
  border-radius .5rem
  margin 1rem .5rem
  max-width 100%
  background-size cover
  background-blend-mode multiply
  position relative
  box-shadow 0 0 16px 0 rgba(24,64,132,0.5)

  &:nth-of-type(1)
    margin-left 1rem

  .tile-content
    display flex
    justify-content center
    align-items center
    height 100%

    .title
      max-width 100%
      color #fff
      font-weight bold
</style>
