<template lang="pug">
  router-link(:to="{ name: 'event_show', params: { id: 1 } }")
    .discoverEventTile
      .time {{ time }}
      .name {{ name }}
      .bottom
        .address {{ address }}
        .attendees {{ attendees }}
</template>

<script>
export default {
  props: {
    time: String,
    name: String,
    address: String,
    attendees: Number
  }
}
</script>

<style lang="stylus" scoped>
.discoverEventTile
  width calc(100% - 2rem)
  height 8rem
  background linear-gradient(226.14deg, #B721FF 0%, #21D4FD 100%)
  border-radius 1rem
  margin-top 2rem
  padding 1rem
  color #fff
  font-weight bold
  display flex
  justify-content space-between
  flex-direction column

  .name
    font-size 1.75rem

  .bottom
    display flex
    justify-content space-between

</style>
