<template lang="pug">
  #eventHeader
    .upper
      router-link(:to="{ name: backButtonRoute}")
        .back-button
          IconBack
      .add-photo(v-if="isCreate")
        .add-button
          IconAdd(class="icon-add")
    .lower(v-if="!isCreate")
      .title Saturday Balln
      .attendees 8 people joined untill now
</template>

<script>
import IconBack from '@/assets/icons/icon-back.svg'
import IconAdd from '@/assets/icons/icon-add.svg'

export default {
  props: {
    isCreate: Boolean,
    backButtonRoute: String
  },
  components: {
    IconBack,
    IconAdd
  }
}
</script>

<style lang="stylus" scoped>
#eventHeader
  position relative
  width calc(100% - 2rem)
  height 8rem
  background linear-gradient(226.14deg, #5543AC 0%, #277AAB 100%)
  display flex
  justify-content space-between
  flex-direction column
  color #fff
  padding 1rem

  .add-photo
    position absolute
    width calc(100% - 1rem)
    text-align center
    margin-top 1rem

    .add-button
      border 2px #fff solid
      width 3rem
      height 3rem
      border-radius 50%
      margin 0 auto

      .icon-add
        margin .75rem

  .lower
    display flex
    flex-direction column

    .title
      font-weight bold
      font-size 2rem
</style>
