<template lang="pug">
  .game-tile
    .head
      .title Midnight Balln
      .date 12.01
    .attendees 5 people went
</template>

<style lang="stylus" scoped>
@import '~@/assets/styles/common'

.game-tile
  margin 1.5rem 0
  border-bottom 1px $color-grey-light solid
  padding 0 1rem

  .head
    display flex
    justify-content space-between
    align-items center

    .title
      font-weight bold
      font-size 1.5rem

    .date
      color $color-grey

  .attendees
    color $color-grey
    margin-bottom 1rem
</style>
