<template lang="pug">
  #navigation
    .nav-items
      .nav-item
        router-link(:to="{ name: 'dashboard' }")
          IconDashboard(class="nav-icon")
          .title Dashboard
      .nav-item
        router-link(:to="{ name: 'discover' }")
          IconDiscover(class="nav-icon")
          .title Discover
      .nav-item.new
        router-link(:to="{ name: 'event_create', query: { route_from: $route.name } }")
          IconAdd(class="nav-icon")
      .nav-item
        router-link(:to="{ name: 'past_games' }")
          IconPastGames(class="nav-icon")
          .title Past Games
      .nav-item
        router-link(:to="{ name: 'profile' }")
          IconProfile(class="nav-icon")
          .title Profile
</template>

<script>
import IconDashboard from '@/assets/icons/icon-dashboard.svg'
import IconDiscover from '@/assets/icons/icon-discover.svg'
import IconAdd from '@/assets/icons/icon-add.svg'
import IconPastGames from '@/assets/icons/icon-past-games.svg'
import IconProfile from '@/assets/icons/icon-profile.svg'

export default {
  components: {
    IconDashboard,
    IconDiscover,
    IconAdd,
    IconPastGames,
    IconProfile
  }
}
</script>

<style lang="stylus" scoped>
#navigation
  flex 1
  width 100%
  box-shadow 0 0 2rem 0 rgba(0,0,0,0.1)
  border-top-right-radius 1rem
  border-top-left-radius 1rem

  .nav-items
    width calc(100% - 2rem)
    margin 0 auto
    display flex
    justify-content space-around

    .nav-item
      display flex
      flex-direction column

      &.new
        height 3.5rem
        width 3.5rem
        background linear-gradient(226.14deg, #B721FF 0%, #21D4FD 100%)
        border-radius 50%
        box-shadow 0 0 1rem 0 rgba(95,138,254,0.5)
        margin-top -1rem
        z-index 1

      .nav-icon
        display: block
        padding 1rem
        flex 2
        margin auto

      .title
        font-weight normal
        color #000
        flex 1
        font-size 10px
        text-align center
</style>
