<template lang="pug">
  #profileTabs
    router-link(:to="{ name: 'profile' }") Account
    router-link(:to="{ name: 'profile_games' }") Your Games
</template>

<style lang="stylus" scoped>
@import '~@/assets/styles/common'

#profileTabs
  padding 1rem
  display flex
  justify-content space-around

  a
    color $color-grey
</style>
