<template lang="pug">
  #simpleHeader
    .placeholder
    .content
      h2 {{ title }}
</template>

<script>
export default {
  props: {
    title: String
  }
}
</script>

<style lang="stylus" scoped>
#simpleHeader
  text-align center

  .placeholder
    width 100%
    height 3.5rem

  .content
    top 0
    position fixed
    width 100%
    text-align center
    background-color #fff
    height 3.5rem
</style>
