<template lang="pug">
  #app
    transition(name="fade" mode="out-in")
      router-view
</template>

<style lang="stylus">
@import url('https://fonts.googleapis.com/css?family=Mada:400,700')
@import '~@/assets/styles/common'
@import '~@/assets/styles/animations'

body
  margin 0
  max-width 100%
  height 100vh

  #app
    margin 0
    font-family 'Mada'
    max-width 100%
    height 100%

    .app-view
      display flex
      flex-direction column
      justify-content space-between
      height 100%

      .view-container
        flex 9
        overflow-y scroll
        padding-bottom 3rem

    input, textarea, input[type="date"]
      font-family 'Mada'
      font-size 1.05rem
      display block
      width calc(100% - 2rem)
      max-width 100vw
      padding 1rem
      border 0
      border-bottom 1px $color-grey-light solid

      &.first
        border-top 1px $color-grey-light solid

    a
      text-decoration none
      color $color-primary
      font-weight bold

    .fullwidth-button,
    a.fullwidth-button,
    .fullwidth-button:visited,
    .fullwidth-button:active
      -webkit-appearance none
      display block
      width 100%
      max-width 95vh
      padding .75rem 0
      background linear-gradient(230.45deg, #6847ff 0%, #0091ec 100%)
      color #fff
      text-align center
      font-size 1.5rem
      font-weight bold

      &:visited, &:active
        color $fff
</style>
